extends layout

block content
  h1= title
  hr
  h3 GET relavent car park 
    h5 See #[a(href="/API/GET/CARPARK?latitude=51.4545&longitude=-2.5870&radius=250000") #{"/API/carpark?latitude=51.4545&longitude=-2.5870&radius=250000"}]

  h3 GET All Car Parks
    h5 See #[a(href="/API/GET/CARPARKS/") #{"/API/GET/CARPARKS/"}]

  h3 GET One Car Park
    h5 Id: 85 See #[a(href="/API/GET/CARPARK/85") #{"/API/GET/CARPARK/85"}]

  h3 INSERT New Car Park
  form(name="add-estimation", method="POST", action='/API/INSERT/CARPARK/')
    div.input
      span.label Name: 
      input(type="text", name="name", placeholder="Test")
      span.label &nbsp
      span.label Lat: 
      input(type="text", name="address", placeholder="123 road, Bristol")
      span.label &nbsp
      span.label Lat: 
      input(type="text", name="latitude", placeholder="51.4545")
      span.label &nbsp
      span.label Long: 
      input(type="text", name="longitude", placeholder="-2.5879")
      span.label &nbsp
      span.label Radius: 
      input(type="text", name="last_updated_at", placeholder="2020-04-06 19:50:19")
      span.label &nbsp
      span.label Scrapping Location: 
      input(type="text", name="scraping_location_id", placeholder="1")
      span.label &nbsp
      span.label External Provider: 
      input(type="text", name="external_provider_id", placeholder="569f0a073dc6f7a409bc06432a92f6a4190e02ef")
      span.label &nbsp
      input(type="submit", value="Insert")

  hr

  h3 GET All Scraping Locations
    h5 See #[a(href="/API/GET/SCRAPINGLOCATIONS/") #{"/API/GET/SCRAPINGLOCATIONS/"}]

  h3 GET One Scraping Location
    h5 Id: 1 See #[a(href="/API/GET/SCRAPINGLOCATION/1") #{"/API/GET/SCRAPINGLOCATION/1"}]

  h3 INSERT New Scraping Location
  form(name="add-estimation", method="POST", action='/API/INSERT/SCRAPINGLOCATION/')
    div.input
      span.label Name: 
      input(type="text", name="name", placeholder="Bristol")
      span.label &nbsp
      span.label Lat: 
      input(type="text", name="latitude", placeholder="51.4545")
      span.label &nbsp
      span.label Long: 
      input(type="text", name="longitude", placeholder="-2.5879")
      span.label &nbsp
      span.label Radius: 
      input(type="text", name="radius", placeholder="5000")
      span.label &nbsp
      input(type="submit", value="Insert")

  hr

  h3 GET All Users
    h5 See #[a(href="/API/GET/USERS/") #{"/API/GET/USERS/"}]

  h3 GET One User
    h5 Id: 1 See #[a(href="/API/GET/USER/martyn2.fitzgerald@live.uwe.ac.uk") #{"/API/GET/USER/martyn2.fitzgerald@live.uwe.ac.uk"}]

  h3 INSERT New User
  form(name="add-estimation", method="POST", action='/API/INSERT/USER/')
    div.input
      span.label First Name: 
      input(type="text", name="fName", placeholder="Martyn")
      span.label &nbsp
      span.label Last Name: 
      input(type="text", name="lName", placeholder="Fitzgerald")
      span.label &nbsp
      span.label Email Address: 
      input(type="text", name="email_address", placeholder="martyn2.fitzgerald@live.uwe.ac.uk")
      span.label &nbsp
      span.label Password: 
      input(type="text", name="password", placeholder="Password1")
      span.label &nbsp
      span.label Phone Number: 
      input(type="text", name="phone_number", placeholder="0711425365")
      span.label &nbsp
      span.label DarkMode: 
      input(type="text", name="darkmode", placeholder="0")
      span.label &nbsp
      span.label Radius: 
      input(type="text", name="radius", placeholder="1500")
      span.label &nbsp
      input(type="submit", value="Insert")
